* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html {
    font-size: 62.5%;
  }

.header {
    width: 100%;
    height: 100%;
    background: #020412;
    color: #fff;
    padding: 0 8.5%;
    position: relative;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
   padding: 30px 0px 10px; 
}

.logo {
    width: 120px;
    cursor: pointer;
}

.menu-icon {
    width:  35px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
   color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 17px;
}

nav ul li a:hover {
  color: #fff734;  
}

.content {
    background-color: #020412;
}

@media (max-width: 767px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'poppins', sans-serif;
    }
    
    html {
        font-size: 62.5%;
      }
    
    .header {
        width: 100%;
        height: 100vh;
        background: #020412;
        color: #fff;
        padding: 0 8.5%;
        position: relative;
    }
    
    nav {
      display: flex;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
       padding: 30px 0px 10px; 
    }
    
    .logo {
        width: 120px;
        cursor: pointer;
    }
    
    .menu-icon {
        width:  35px;
        cursor: pointer;
    }
    
    nav ul {
        flex: 1;
        text-align: right;
        padding-right: 40px;
    }
    
    nav ul li {
        display: inline-block;
        list-style: none;
        margin: 10px 30px;
    }
    
    nav ul li a {
       color: #fff;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 17px;
    }
    
    nav ul li a:hover {
      color: #fff734;  
    }
    
    .content {
        background-color: #020412;
    }
 }